
.gameContainer {
  display: flex;
  flex: 1 1;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  width: 100%;
  //background-color: tan;
  min-width: 300px;    
}

.gameBoardContainer{
  display: flex;
  padding: 3vh;
  width: 100%;
}

.gameDescription {
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

